{% extends "layout.html" %}
{% block Main %}
    <div class="col-sm-9">
        <h4><small>My Works</small></h4>
        <hr>
        <div class="row">
            <div class="col-sm-9">
                <table class="table table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                    <form action="{{ url_for('add_my_works') }}" method="post" enctype="multipart/form-data">
                        <tr>
                            <th>Subject : </th>
                            <td><input type="text" placeholder="please input work's subject" name="subject" class="form-control"></td>
                        </tr>
                        <tr>
                            <th>Content : </th>
                            <td><textarea cols="10" placeholder="please input work's content" name="content" class="form-control"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <input class="form-control pull-right" type=submit name=addwork value="Add work">
                            </td>

                            <td colspan="1">
                                <div class="form-group">
                                    <label class="col-xs-1 control-label" style="top:5px">Type</label>
                                    <div class="col-xs-5 selectContainer">
                                        <select class="form-control" name="ctype">
                                            <option value="todo">To Do</option>
                                            <option value="doing">Doing</option>
                                            <option value="done">Done</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="well">
                    <h4>To Do</h4>
                    <hr style="border:solid 1px #9d9d9d;">
                    {% for entry in todoEntries %}
                        <div class="well" style="background-color: seashell;">
                            <form action="{{ url_for('my_work_execute') }}" method="post" enctype="multipart/form-data">
                                <h4>{{ entry.subject }}</h4>
                                <p>{{ entry.content }}</p>
                                <b>Post by {{ entry.username }}</b><br>
                                <small>{{ entry.writedate }}</small><br><br>
                                <input type=hidden name=content value='{{ entry.content }}'>
                                <input type=hidden name=ctype value='todo'>
                                <input type=hidden name=subject value='{{ entry.subject }}'>
                                <input type=hidden name=username value='{{ entry.username }}'>
                                <input type=hidden name=writedate value='{{ entry.writedate }}'>
                                <button class="btn btn-default" type=submit name=submit value="achieve">Achieve</button>
                                <button class="btn btn-default" type=submit name=submit value="remove">Remove</button>
                                <button class="btn btn-default" type=submit name=submit value="share">Share</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="well" style="background-color: seashell;">
                            <em>Unbelievable. No works here so far</em>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well">
                    <h4>Doing</h4>
                    <hr style="border:solid 1px #9d9d9d;">
                    {% for entry in doingEntries %}
                        <div class="well" style="background-color: seashell;">
                            <form action="{{ url_for('my_work_execute') }}" method="post" enctype="multipart/form-data">
                                <h4>{{ entry.subject }}</h4>
                                <p>{{ entry.content }}</p>
                                <b>Post by {{ entry.username }}</b><br>
                                <small>{{ entry.writedate }}</small><br><br>
                                <input type=hidden name=content value='{{ entry.content }}'>
                                <input type=hidden name=ctype value='doing'>
                                <input type=hidden name=subject value='{{ entry.subject }}'>
                                <input type=hidden name=username value='{{ entry.username }}'>
                                <input type=hidden name=writedate value='{{ entry.writedate }}'>
                                <button class="btn btn-default" type=submit name=submit value="achieve">Achieve</button>
                                <button class="btn btn-default" type=submit name=submit value="remove">Remove</button>
                                <button class="btn btn-default" type=submit name=submit value="share">Share</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="well" style="background-color: oldlace;">
                            <em>Unbelievable. No works here so far</em>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well">
                    <h4>Done</h4>
                    <hr style="border:solid 1px #9d9d9d;">
                    {% for entry in doneEntries %}
                        <div class="well" style="background-color: seashell;">
                            <form action="{{ url_for('my_work_execute') }}" method="post" enctype="multipart/form-data">
                                <h4>{{ entry.subject }}</h4>
                                <p>{{ entry.content }}</p>
                                <b>Post by {{ entry.username }}</b><br>
                                <small>{{ entry.writedate }}</small><br><br>
                                <input type=hidden name=content value='{{ entry.content }}'>
                                <input type=hidden name=ctype value='done'>
                                <input type=hidden name=subject value='{{ entry.subject }}'>
                                <input type=hidden name=username value='{{ entry.username }}'>
                                <input type=hidden name=writedate value='{{ entry.writedate }}'>
                                <button class="btn btn-default" type=submit name=submit value="achieve">Achieve</button>
                                <button class="btn btn-default" type=submit name=submit value="share">Share</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="well" style="background-color: floralwhite;">
                            <em>Unbelievable. No works here so far</em>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end %}
    {% if session.logged_in %}
        <script>blurFunction(0);</script>
    {% else %}
        <script>blurFunction(1);</script>
        <div class="modal-dialog">
            <div class="modal-body">
                <H2>Login Now!</H2>
                <hr>
                <h4>You must be logged in to use</h4>
            </div>
        </div>
    {% endif %}
{% endblock %}